@model List<ProductApp.Models.Category>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}

<h2>Category</h2>


    <br />

    <div>
        <table class="table table-bordered">
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Operations</th>
            </tr>
            <tbody>
                @foreach (var cat in Model)
                {
                    <tr>
                        <td>@cat.CategoryID</td>
                        <td>@cat.CategoryName</td>
                        <td>
                            <button class="btn btn-danger">Delete</button>
                            <button class="btn btn-success">Update</button>
                            <button class="btn btn-primary">Details</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-info">Add New Category</button>
    </div>

